.row{
  display:flex;
  flex-direction: row;
  min-height: 0;
}

.cell{
    border: 1px solid black;
    flex: 1 1 0;
    height: 100%;
    aspect-ratio: 1 / 1;
    min-width: 0;
    min-height: 0;
}

.alive{
    background-color:black;
}

.dead{
    background-color:white;
}


